.first__step{
display: flex;
flex-direction: column;
margin-top: 30px;
}

/* .first__step input{
        margin-bottom: 10px;
        height: 30px;
        /* border-radius: 5px; 
} */

/* .first__step button{
    margin-bottom: 10px;
    height: 50px;
    font-size: 24px;
    font-weight: 600;
    margin: 15px 30px;
} */
h4.name {
margin: 15px 15px 30px 0;
}
a {
    text-decoration: none;
}

.second__step-btn button,
.third__step button{
    margin: 15px 30px;
}