
.welcome_pic {
  background-image: url(https://c.pxhere.com/photos/6b/f0/grey_antique_letter_texture_grunge_typography_vintage_background_abstract-976206.jpg!d) ;
  
   /* 'https://www.tv21.ru/sites/default/files/styles/750x422/public/news/2021/01/06/abstract-5719221_1920.jpg?h=8abcec71&itok=nnSbXRDU' */
  height: 400px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: 100%; 
 
}
.welcome_pic p{
  padding: 10pt;
  text-align: center;
  font: 36pt robota; 
  font-weight: 600; 

}
.logo {
  text-align: center;
 
}
.logo img {
  width:300px; /* you can use % */
  height: auto;
}

  .welcome_but {  
  text-align: center;
  padding-top: 20pt;
  display: flex;
  justify-content: center;
 } 
 .welcome_but div {
  margin-left: 10pt;
 }
 
.colortext {
  color: #E90538; 
  font-weight: 600; 
  font: 48pt;
}

.welcome_text {
  max-width: 1200px;
  margin-left: 20%;
  margin-right: 20%;
  font: 18pt robota;  
  font-weight: 400;
  border-bottom: #e90536; 
  
}

.welcome_text p{
 padding-top: 10pt;
 padding-bottom: 10pt;
}

.button  {
  background: #E90538;
}



/* button red  */
#but-red{text-decoration:none; text-align:center; 
  padding:11px 46px; 
  border:solid 1px #000000; 
  -webkit-border-radius:4px;
  -moz-border-radius:4px; 
  border-radius: 4px; 
  font:24px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:#ffffff; 
  background:#e90536; 
  -webkit-box-shadow:inset 0,0,0px 0,0,0px 1,1,1px #ffffff,#ffffff,#ffffff;  -moz-box-shadow:inset 0px 0px 1px #ffffff;  box-shadow:inset 0px 0px 1px #ffffff;  
   
    -webkit-transition: color 0.55s linear;
  -moz-transition:  color 0.55s linear;
  -o-transition:  color 0.55s linear;
  transition:  color 0.55s linear;}.button:hover{
  padding:11px 46px; 
  border:solid 1px #000000; 
  -webkit-border-radius:4px;
  -moz-border-radius:4px; 
  border-radius: 4px; 
  font:24px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:#ffffff; 
  background-color:#e90536; 
  background-image: -moz-linear-gradient(top, #e90536 0%, #db889a 100%); 
  background-image: -webkit-linear-gradient(top, #e90536 0%, #db889a 100%); 
  background-image: -o-linear-gradient(top, #e90536 0%, #db889a 100%); 
  background-image: -ms-linear-gradient(top, #e90536 0% ,#db889a 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db889a', endColorstr='#db889a',GradientType=0 ); 
  background-image: linear-gradient(top, #e90536 0% ,#db889a 100%);   
  -webkit-box-shadow:inset 0,0,0px 0,0,0px 1,1,1px #ffffff,#ffffff,#ffffff;  -moz-box-shadow:inset 0px 0px 1px #ffffff;  box-shadow:inset 0px 0px 1px #ffffff;  
  }

  #but-red:active{
  padding:11px 46px; 
  border:solid 1px #000000; 
  -webkit-border-radius:4px;
  -moz-border-radius:4px; 
  border-radius: 4px; 
  font:24px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:#ffffff; 
  background:#db889a; 
  }
  
  #but-red a {
    color: #bababa;
    text-decoration: none; 
  }
  
/* button white */

#but-white{text-decoration:none; text-align:center; 
    padding:11px 46px; 
    border:solid 1px #000000; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:24px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#000000; 
    background:#ffffff; 
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
     
  }.button:hover{
    padding:11px 46px; 
    border:solid 1px #000000; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:24px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#000000; 
    background-color:#ffffff; 
    background-image: -moz-linear-gradient(top, #ffffff 0%, #c4c4c4 100%); 
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #c4c4c4 100%); 
    background-image: -o-linear-gradient(top, #ffffff 0%, #c4c4c4 100%); 
    background-image: -ms-linear-gradient(top, #ffffff 0% ,#c4c4c4 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#c4c4c4',GradientType=0 ); 
    background-image: linear-gradient(top, #ffffff 0% ,#c4c4c4 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
     
}
#but-white:active{
    padding:11px 46px; 
    border:solid 1px #000000; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:24px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#000000; 
    background:#c4c4c4; 
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}

#but-white a {
    color: black;
    text-decoration: none; 
}

@media (max-width: 480px) {    
    #but-red {
        width: 50%; 
        height: 50%; 
    }
    #but-red  a{
      font-size: 12pt; 
  }

  #but-white {
      width: 50%; 
      height: 50%; 
  }
  #but-white a{
    font-size: 12pt; 
    
  }
  .logo img {
    width:150px; /* you can use % */
    height: auto;
  }
  .welcome_but {
   
    flex-direction: column
   } 
  
}




@media (max-width: 768px) {    
  .welcome_pic p{
   
    font: 32pt robota; 
   
  
  } 
}
@media (max-width: 480px) {    
  .welcome_pic p{
   
    font: 24pt robota; 
   
  
  } 
}




