
.welcome_pic {
  background-image: url(https://c.pxhere.com/photos/6b/f0/grey_antique_letter_texture_grunge_typography_vintage_background_abstract-976206.jpg!d) ;
  height: 400px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
 
 
}
.welcome_pic p{
  padding: 10pt;
  text-align: center;
  font: 48pt robota; 
  font-weight: 600; 

}

  .welcome_but {
  text-align: center;
  padding-top: 20pt;
 } 

.colortext {
  color: #E90538; 
  font-weight: 600; 
  font: 48pt;
}

.welcome_text {
  max-width: 1200px;
  margin-left: 20%;
  margin-right: 20%;
  font: 20pt robota;  
  font-weight: 400; 
  
}

.welcome_text p{
 padding-top: 10pt;
 padding-bottom: 10pt;
}

.button  {
  background: #E90538;
}