.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #A8A6A6;
    align-items: center;
}
.footer img{
    padding: 0 20px;
}
.footer__wcs-logo{
width: 160px;
height: 80px;
padding: 0 20px;
}
.footer__info{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer__info p{
    color: black;
    font-family: Roboto;
    font-size: 18px;
}
.footer__gitHubLogo{
    /* width: 25px; */
    height: 25px;;
}
.footer__gitHubLogo:hover{
    transform: rotate(720deg);
    transition: 3s ease;
}
.footer__github-links{
    display: flex;
    margin-right: 20px;
}
.footer__github-links img{
    padding: 0 5px;
}
.footer__github-links a{
    font-family: Roboto;
    font-size: 18px;
    text-decoration: none;
    color: red;
    margin: 0 5px;
}

@media (max-width: 1024px) {
    .footer__info{
        flex-direction: column;
        align-items: center;
    }
    .footer__info p{
        margin: 8px;
    }
}
@media (max-width: 768px) {
    .footer__info{
        flex-direction: row;
        margin:25px 0;
    }
    .footer{
        flex-direction: column;
    }
}
@media (max-width: 480px) {
    .footer{
        flex-direction: column;
    }
    .footer__info{
        flex-direction: column;
    }
}


