/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.welcome_pic {
  background-image: url(https://c.pxhere.com/photos/6b/f0/grey_antique_letter_texture_grunge_typography_vintage_background_abstract-976206.jpg!d) ;
  height: 400px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.welcome_pic p{
  
  text-align: center;
  font: 48pt robota; 
  font-weight: 400; 

}

  .welcome_but {
  text-align: center;
 } 

.colortext {
  color: #E90538; 
}

.welcome_text {
  max-width: 1200px;
  margin-left: 20%;
  margin-right: 20%;
  font: 20pt robota;  
}

.button  {
  background: #E90538;
}

/* #but-test {

  color: #ffffff;
  font-size: 14px;
  font-family: 'Arial',Arial,sans-serif;
  line-height: 1.55;
  font-weight: 600;
  border-width: 1px;
  border-radius: 10px;
  background-color: #e90538;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;

}


#botr{
  background:#e90538;
  width:225px;
  display:block;
  height:33px;
  padding-top:19px;
  border:1px solid #000;
   margin: 20px auto;
  font-family: 'Dosis', sans;
  font-size: 18px;
  font-weight:200;
  color:#000;
  text-transform:uppercase;
  text-decoration:none;
  text-align:center;
  opacity:.8;
  letter-spacing: 1px;
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
   -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */

/* }


}

#botr:hover{
  width:225px;
  height:33px;
  padding-top:19px;
  border:1px solid teal;
  margin: 20px auto;
  opacity:1;
  letter-spacing: 4px;
  -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
   -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);

        transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */ 
